/*font face declarations*/
@font-face {
    font-family: 'Roboto';
    src: url('appimages/Roboto-Regular.eot');
    src: url('appimages/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('appimages/Roboto-Regular.woff2') format('woff2'),
        url('appimages/Roboto-Regular.woff') format('woff'),
        url('appimages/Roboto-Regular.ttf') format('truetype'),
        url('appimages/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: 'Raleway';
    src: url('appimages/Raleway-Regular.eot');
    src: url('appimages/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('appimages/Raleway-Regular.woff2') format('woff2'),
        url('appimages/Raleway-Regular.woff') format('woff'),
        url('appimages/Raleway-Regular.ttf') format('truetype'),
        url('appimages/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

* {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    padding:0;
    margin:0;   
}

/* header */
.header{
    height: 80%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/image/playerflag.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    padding-top:0;
    margin: 15px 0;
    text-align: center;
    color: white;   
}

/* logo */
.header img {
    padding-top:0;
    width: 210px;
    float:left;
}

/* nav */
.mainNav {
    position:sticky;
    top:0;
    z-index: 2;
 }
.mainNav ul {
    list-style-type:none;
    padding:0;
    margin:0;
    display:flex;
    flex-flow: row wrap;     
}
.mainNav li {
    flex-grow:1;   
    padding:0.4em 0;
    width:calc(25% - 2em);        
}    
.mainNav a {
    background-size:45px 45px;
    background-repeat:no-repeat;
    background-position:center;
    min-height:45px;
    color:white;     
}

.mainNav a:hover{
    text-decoration:none;
    display:block;
    color:white;
    height:100%;
    width:100%;
}

@media only screen and (min-width : 350px) {   
        .mainNav a {
        background-position:center;
        font-size: 1em;
        }                     
 }
 @media only screen and (min-width : 800px) {    
        .mainNav a {
        background-position:center;
        display:block;
        
        }
        .mainNav a:hover {
            transform: scale(1.2);
            }
        .mainNav ul {
        justify-content: flex-end;
        }  
        .mainNav li {
        width:120px;
        flex-grow: 0;
    }
        
 } 
 
 #img1 {
    margin: auto;
    width: 300px;
    height:300px; 
    background:url(/image/mountainbiking200x200.jpg) 0 0 no-repeat;
    text-indent: -9999px;
    background-size:cover;
    background-position: center; 
}
 #img2{
    margin: auto;
    width:300px;
    height:300px;
    background:url(/image/Treking200x200.jpg) 0 0 no-repeat;
    text-indent: -9999px;
    background-size:cover;
    background-position: top center; 
  
}
 #img3{
    margin:auto;
    width:300px;
    height:300px;
    background:url(/image/sky200x200.jpg) 0 0 no-repeat;
    text-indent: -9999px;
    background-size:cover;
    background-position: center; 
  
}
 #img4{
    margin:auto;
    width:300px;
    height:300px; 
    background:url(/image/Bungy200x200.jpg) 0 0 no-repeat;
    text-indent: -9999px;
    background-size:cover;
    background-position: center;   
}

@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) { 
    /* 2X */
     #img1{
    	background-image:url(/image/mountainbiking400x400.jpg);
           }
    #img2{
        background-image:url(/image/Treking400x400.jpg);
    }
    #img3{
        background-image:url(/image/sky400x400.jpg);
    }
 #img4{
        background-image:url(/image/Bungy400x400.jpg);
    }
} 
            

 @media only screen and (min-device-pixel-ratio: 3){
 #img1{
        background-image:url(/image/mountainbiking600x600.jpg);
       }
 #img2{
    background-image:url(/image/Treking600x600.jpg);
}
 #img3{
    background-image:url(/image/sky600x600.jpg);
}
 #img4{
    background-image:url(/image/Bungy600x600.jpg);
}
} 
 
 /* adventure */
.adventures{   
    margin: 20px;  
}
.adventures img{
    height:210px;
    width: 300px;
}
.content-section {
    background: #efefef;
    padding: 10px;
    margin-bottom: 30px;
}
.content-section p {
    text-align: justify;
    padding: 10px;
    margin-bottom: 5px;
    min-width:250px;
}
.content-section img {
    margin-top:5px;
    padding: 10px;
    width:100%;
}

.user-feedback{
    padding: 80px 0;   
}
h3{
    margin-top: 0px;
}
.card{
    margin: auto;
    min-width:250px;
}
.card-img-top{
    padding:10px;
    padding-bottom: 0px;
    width: 100%;
    }
.card-title span{
   font-style:oblique;
}
.card span {
    text-align: right;
    margin-right: 20px;
}
.card-content{
    margin: 10px;
    text-align: left;
}
.user-review{
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0,0,100,0.2);
    padding-bottom: 50px;
    height:250px;
}
.user-review p{
    padding: 50px 10px 10px 10px;

}
h1{
   text-align: center;
   padding-bottom: 10px;
}
.user-feedback img{
    width: 60px;
    height: 60px;
    border-radius:20%;
    border: 2px solid black;
    position: relative;
    margin: -30px 0 20px 40%;
}
.user-review p::before{
    content: '\201d';
    display: block;
    position:absolute;
    font-size:100px;
    color:#6495ed;
    font-family:sans-serif;
    left:44%;
    top:-20px; 
}
.footer{
    /* padding: 10px 20px 15px; */
    background-image: linear-gradient(#2d557d,#9610fb);
    color:#fff;
    text-align:center;
    /* margin-top: 5px; */
    
    }
.footer-logo{
    width:150px;
    
}
.footer h4{
    text-align: center;
    margin-top:60px;
    margin-bottom: 15px;
}
.footer p{
    font-size: 12px;
    margin-bottom: 0;
    padding: 10px;
    
}
.footer .row .fa{
    padding-right:20px;
    font-size:15px;
}
.footer hr{
    margin-top: 10px;
    background:#efefef;
}
.fa-copyright{
    margin: 0 5ps;
    color: #f44336;
}
.footer .copyright{
    text-align: center;
}
.contact{
    padding:10px;
    margin: 10px;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 10px;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 8px 8px 8px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-image: linear-gradient(#73b1db,#1f3d90);
    color: white;
    padding: 10px 20px;
    margin: auto;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Style the container */
  .reviews {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    min-width: 250px;
    margin: auto;
  }
  
    
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  /* @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  } */
  .reviews .input1 {
      border:none;
      border-left: 1px solid orange;
      background-color: #efefef;
      width: 40%;
      padding: 10px;
      border-radius: 0;
      margin: auto; 
      margin-bottom: 20px;
  }
  
  /*categories*/
.categories {
    padding:10px 0;
}
.categories h1{
    text-align: center;
    padding-bottom: 30px;
}
.category-img img{
    width: 100%;
    height: 200px;
}
.location {
    float: right;
    color: black;
    font-weight: 600;
    padding:10px;
    margin-bottom: -1px;
    /* box-shadow: 0 0 10px 1px rgba(37,73,21,0.18); */
}
.category-img {
    position:relative /* with .rating*/
}
.ratings {
    padding: 3px;
    float: right;
    background: #fff;
    bottom: -1px;
    right:0;
    position: absolute;
}
.categories .fa{
    font-size: 15px;
    color:orangered;
}
.category-details{
    text-align: justify;
    padding: 20px;
    height: 200px;
}
.category-details h4 {
    font-weight: 600;
    margin-top: 20px;
}
.category-details .fa {
    margin-right: 5px;
}
.category-box {
    box-shadow: 0 0 10px 1px rgba(37,73,21,0.18);
    margin-bottom: 30px;
   
}
/* shared-moments */
#create-post {
    z-index: 1001;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    bottom: 0;
    top: 56px;
    background: white;
    text-align: center;
    display: none;
  }  
  .main-image {
    max-width: 100%;
    margin: auto;
    display: block;
  }
  .shared-moment-card.mdl-card {
    margin: 10px auto;
  }
 .alert{
     text-align: center;
     padding: 10px;
     background: #73b1db;
     color:black;
     margin:10px;
     display: none;
 }
 
 