
*{
    padding:0;
    margin:0;
    max-width: width 250px;
}
.header{
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/image/tilicho.jpg);
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    padding-top: 10px;
    margin: 0px;
    text-align: center;
    color: white;
}
.header img {
    max-width: 300px;
    float:left;
}

.header h1{
    padding-top: 180px;
    padding-bottom:20px;
    font-size:46px;   
    padding-right: 20px;
    position: relative;
    margin: auto 0;
}

/* nav */
.mainNav {
    position:sticky;
    top:0;
    z-index: 2;
 }
    
    .mainNav ul {
    list-style-type:none;
    padding:0;
    margin:0;
    display:flex;
    flex-flow: row wrap;     
    }
    
    .mainNav li {
    flex-grow:1;   
    padding:0.4em 0;
    width:calc(25% - 2em);        
    }
    
    .mainNav a {
    background-size:45px 45px;
    background-repeat:no-repeat;
    background-position:center;
    min-height:45px;
    color:white;
     
    }
    .mainNav a:hover{
    text-decoration:none;
    display:block;
    color:white;
    height:100%;
    width:100%;    

    }

@media only screen and (min-width : 350px) {   
    .mainNav li {
        font-size: 1em;
    }    
    
    .mainNav a {
        background-position:center;
        }                     
 }

 @media only screen and (min-width : 800px) {    
        .mainNav a {
        background-position:center;
        display:block;
        
        }
        .mainNav a:hover {
            transform: scale(1.5);
            }
        .mainNav ul {
        justify-content: flex-end;
        }  
        .mainNav li {
        width:120px;
        flex-grow: 0;
    }
        
 } 
        
    
/*categories*/
.categories {
    padding:100px 0;
}
h1{
    text-align: center;
    padding-bottom: 30px;
}
.category-img img{
    width: 100%;
    height: 200px;
}
.description {
    width: 100px;
    height:50px;
    background: #ff5722;
    color: white;
    font-weight: 600;
    border-radius: 5%;
    padding:10px;
    box-shadow: 0 0 10px 1px rgba(37,73,21,0.18);
}
.category-img {
    position:relative /* with .rating*/
}
.ratings {
    padding: 3px;
    float: right;
    background: #fff;
    bottom: -1px;
    right:0;
    position: absolute;
}
.categories .fa{
    font-size: 15px;
    color: #ff5722;
}
.category-details{
    text-align: justify;
    padding: 20px;
}
.category-details h4 {
    font-weight: 600;
    margin-top: 20px;
}
.category-details .fa {
    margin-right: 5px;
}
.category-box {
    box-shadow: 0 0 10px 1px rgba(37,73,21,0.18);
    margin-bottom: 30px;
}
.about {
    background-image: linear-gradient(#2d557d,#9610fb);
    margin-bottom: 2px;
    margin-top: 5px;
    padding:50px;
   
       
}
.about h1{
    color:white;
    margin-bottom: 0px;
    padding-bottom: 15px;
}
.about p{
    text-align: justify;
    color:white;
  
   }
.about img{
    float:right; 
    margin-top:40px;
    width:300px;
    border: 1px solid white;
    margin-left: 0;
    
}
#myMap {
    width: 100%;
    border: 1px white solid;
    height: 300px;
    background-color: grey;
  }
  #myMap .offline-map {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-image: url('image/offline.jpg');
   
  }


/*gallery section*/
.gallery{
    padding: 50px 0;
    background: #efefef;
    }
.gallery-box img{
    width: 100%;
    height:150px;
    border-radius: 10px;
    cursor: pointer;
}
.gallery-box img:hover{
    transform: scale(1.1);
}
.gallery-box h4{
    display: block;
    font-weight: 600;
    position:absolute;
    top: 50%;
    left:50%;
    color:white;
    text-shadow: -2px 2px 2px #000;
    transform: translate(-50%,-50%);
}
.gallery-box{
    position: relative;
    margin-bottom: 30px;
}
.banner{
    height:80%;
    background-image: url(image/pokharavalley.jpg);
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    padding-top:14%;
}
.banner-highlights{
    padding: 70px 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    color:white;
}
.booking-btn{
    width:120px;
    padding:8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color:white;
    margin-top:20px;
}
.user-feedback{
    padding: 100px 0;
}
.user-review{
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0,0,100,0.2);
    padding-bottom: 50px;
}
.user-review p{
    padding: 50px 10px 10px 10px;

}
.user-feedback img{
    width: 60px;
    height: 60px;
    border-radius:20%;
    border: 2px solid black;
    position: relative;
    margin: -30px 0 20px 40%;
}
.user-review p::before{
    content: '\201d';
    display: block;
    position:absolute;
    font-size:100px;
    color:#6495ed;
    font-family:sans-serif;
    left:44%;
    top:-20px; 
}
.footer{
    /* padding: 10px 20px 15px; */
    background-image: linear-gradient(#2d557d,#9610fb);
    color:#fff;
    text-align:center;
    /* margin-top: 5px; */
    
    }
.footer-logo{
    width:150px;
    
}
.footer h4{
    text-align: center;
    margin-top:60px;
    margin-bottom: 15px;
}
.footer p{
    font-size: 12px;
    margin-bottom: 0;
    padding: 10px;
    
}
.footer .row .fa{
    padding-right:20px;
    font-size:15px;
}
.footer hr{
    margin-top: 10px;
    background:#efefef;
}
.fa-copyright{
    margin: 0 5ps;
    color: #f44336;
}
.footer .copyright{
    text-align: center;
}
.adventures{
    margin-top: 10px;
}
.adventures img{
    height:200px;
    width:300px;
}